* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

main {
  margin-top: 60px;
}

header,
footer {
  color: white;
  font-size: 0.9rem;
}

footer {
  background-color: black;
  height: 100px;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.fixed {
  position: fixed;
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}

ul.flex {
  list-style: none;
}

ul.flex li a{
  text-decoration: none;
  color: white;
  margin: 0 5px;
}

/* HEADER */
header .fixed {
  width: 100%;
  height: 60px;
  background-color: #ff6900;
  box-shadow: 0px 1px 3px grey;
  top: 0;
  z-index: 999;
  }

header .container.flex {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

header .container .logo {
  width: 120px;
}

/* MAIN */

main .container.flex {
  padding: 40px 0;
  justify-content: start;
  flex-wrap: wrap;
}


.product {
  max-width: 400px;
  width: 33%;
  min-width: 250px;
  padding: 5px;
}

.product img {
  width: 100%;
}

main .image:hover .secondary-image {
  display: block;
}

.product .secondary-image {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.product .image .heart {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 10px;
  background-color: white;
  padding: 10px;
}

.product .tag {
  position: absolute;
  left: 0;
  bottom: 40px;
  font-size: 0.7rem;
  color: white;
}

.product .image .discount {
  background-color: red;
  padding: 5px 10px;
}

.product .image .sostenibilita {
  background-color: green;
  padding: 5px 10px;
}

.marca,
.modello {
  display: block;
}

.modello {
  font-weight: bold;
}

.price {
  font-size: 0.8rem;
}

.last-price {
  color: red;
  font-weight: bold;
}

.full-price {
  text-decoration: line-through;
}

.heart:hover {
  color: red;
}

/* FOOTER */
footer .container.flex {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

footer .company span {
  font-weight: bold;
  font-size: 1rem;
}

footer .company span,
footer .social span {
  margin: 0 5px;
}

footer .company > *,
footer .social > * {
  margin-top: 10px;
  margin-bottom: 10px;
}

footer .social a {
  font-size: 1rem;
}